@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #9c88ff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  width: 35rem;
}

h1 {
  letter-spacing: 1px;
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  border-bottom: 1px solid #bbb;
  padding-bottom: 1rem;
}

h4 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.balance__money {
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin: 0.5rem 0;
}
.balance__money.plus {
  color: #2ecc71;
}
.balance__money.minus {
  color: #c0392b;
}

.margin-bottom-big {
  margin-bottom: 4rem;
}

.margin-bottom-small {
  margin-bottom: 1.6rem;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(105, 105, 105, 0.9);
  z-index: 1;
}

.login,
.update {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  min-height: 20rem;
  width: 45rem;
  padding: 5rem;
}

.login-form__align,
.update-form__align {
  display: flex;
  gap: 2rem;
}
.login-form__label,
.update-form__label {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1rem 0;
}
.login-form__input,
.update-form__input {
  border: 1px solid #bbb;
  border-radius: 2px;
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
}
.login-form__btn, .login-form__btn--cancel,
.update-form__btn,
.update-form__btn--cancel {
  cursor: pointer;
  display: block;
  background-color: #9c88ff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
  border: 0;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  padding: 1rem;
  width: 100%;
}

.balance {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin: 2rem 0 4rem 0;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.balance > div {
  flex: 1;
  text-align: center;
}
.balance > div:first-of-type {
  border-right: 1px solid #bbb;
}

.form-control__label {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1rem 0;
}
.form-control__input[type=text], .form-control__input[type=number] {
  border: 1px solid #bbb;
  border-radius: 2px;
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
}
.form-control__btn {
  cursor: pointer;
  display: block;
  background-color: #9c88ff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #fff;
  border: 0;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  padding: 1rem;
  width: 100%;
}

.history__list {
  font-size: 1.6rem;
  list-style-type: none;
  margin-top: 1rem;
}
.history__list--delete {
  background-color: #e74c3c;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  top: 50%;
  left: 0%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  transform: translate(-100%, -50%);
}
.history__list--update {
  background-color: #3ce759;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  top: 50%;
  left: 0%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  transform: translate(-200%, -50%);
}
.history__list li {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #333;
  padding: 1rem;
  margin: 1rem 0;
  position: relative;
}
.history__list li.plus {
  border-right: 0.5rem solid #2ecc71;
}
.history__list li.minus {
  border-right: 0.5rem solid #c0392b;
}
.history__list li:hover .history__list--delete, .history__list li:hover .history__list--update {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
