.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color-bg-overlay, 0.9);
  z-index: 1;
}

.login,
.update {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $color-bg;
  box-shadow: $box-shadow;
  min-height: 20rem;
  width: 45rem;
  padding: 5rem;
}

.login-form,
.update-form {
  &__align {
    display: flex;
    gap: 2rem;
  }
  &__label {
    @include label;
  }

  &__input {
    @include input;
  }

  &__btn,
  &__btn--cancel {
    @include btn;
  }
}
